<div class="jumbotron">
    <h1>Red Alert</h1>
    <p class="lead">Red Alert is an extreme feedback device that is controlled through the internet.
Our extreme feedback device will be a mini lamp that can be put on the desk, sticked on a wall or carried between between spaces.
It's scope is to provide a visual feedback of the status of a Build - green, your build is successfull, yellow - there are some issues, red - well, bad luck, your build is failing.
The main innovation we want to introduce is the ability to control this device through the internet! Our device only needs to be connected to a power outlet, and have wifi available. You can then configure ANY build process to send a message through a very simple API, and change the color on the device, so your team has a real-time status of the build.
But you don't have to limit at only using it for reporting build statuses. Want to use it for reporting on deploys? Sure. Want to use it as a semaphore? Sure. Just call the API to change the color..</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Register your device</a></p>
    
</div>
