@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>LightFee<span class="blink"><img src="~/Content/img/logof.png" alt=""></span></h1>
                    <h3>A visual feedback device <br /> for everything</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">

                        <li>
                            <a href="https://github.com/mishacucicea/RedAlert" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>

                    </ul>
                    <img class="scroller" src="~/Content/img/scroll-down.gif" alt="" style="">
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">How we built it</h2>
                <p class="lead">It contains a tiny package, just 16x24mm and 2$, contains a WiFi module with 4MB of programmable memory that can execute custom code at 80Mhz. Just add a power supply.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/img/devicecomponent.gif" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Choose the color you like</h2>
                <p class="lead">
                    Because our device accepts any combination of RGB color, you can easily set your favorite colors!

                </p>

                <img src="~/Content/img/RGB_circle.png" width="128" height="128" />
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/img/colorbubble.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    Turn the lights on with QR Codes
                </h2>
                <p class="lead">
                    It's simple, generate your personal    @Html.ActionLink("QR Code", "Index", "QrCode", new { area = "" }, null), scan it from the printed paper sticked on the wall, after that your device will action
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/img/scanqr.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Keep up to date on your latest build status</h2>
                <p class="lead">You can easily integrate any continuous integration tool with your personal LightFeeD device</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/img/jenkins-solution.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    Connect your device to <a target="_blank" href="https://ifttt.com/">IFTTT</a>
                </h2>
                <p class="lead">
                    Get notified from different products and apps directly via LightFeeD

                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/img/iftttlight.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>




<section id="team" class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">The ones who made it possible</h3>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Content/img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Radu Pascal</h4>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/haiduc32" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/haiduc32">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/radu-pascal-80b2b64" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Content/img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Sergiu Grabovschi</h4>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sergiu.grabovschi" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="~/Content/img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Mihai Cucicea</h4>
                    <br />
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/mihai.cucicea.3">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>