
<div class="content-section-a">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-md-offset-2">
                    <div class="panel panel-default  device-panel">
                        <div class="panel-body">
                            <h2>Thank you for voting!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
