
@{
    ViewBag.Title = "Voting";
}

<div class="panel-heading">
    <h3 class="panel-title">Your personal QR Code</h3>
</div>
<div class="panel-body">

    <script>
        $(document).ready(function () {
            var  = localStorage.getItem("senderKey");
            var senderKeyBox;

            $("#qr-Imageup").attr("src", "/QrCode/GenerateVotingQr?answer=Up");

            $("#qr-Imagedown").attr("src", "/QrCode/GenerateVotingQr?answer=Down");

            if (senderKey == null) {
                $('#messageBox').text('Have you registered you device ?');
            } else {
                $('#senderkeyidVotingQR').val(senderKey);
                $.post("/Color/Voting?senderKey=" + senderKey);

            }
            $("#senderkeyidVotingQR").change(function () {
                 senderKeyBox = $('#senderkeyidVotingQR').val();
                if (senderKeyBox != null) {
                    $.post("/Color/Voting?senderKey=" + senderKeyBox);
                }
            });

            $("#resetButton").click(function () {

                // it's assumed that a sender key is already in the local storage.
                $.get("/Voting/Reset", {
                });
            });
            setInterval(function () {
                $.post("/Color/Voting?senderKey=" + senderKey);
            }, 2000);
        });
    </script>

    <div class="form-group">
        @Html.Label("Senderkey", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="senderkeyidVotingQR" type="text" value="">
            @Html.ValidationMessage("Senderkey")

        </div>

       

        <div class="col-md-10">
            @Html.Label("ThumbsUp", new { @class = "control-label col-md-2" })
            <img id="qr-Imageup" alt="" />
        </div>

        <div class="col-md-10">
            @Html.Label("ThumbsDown", new {@class = "control-label col-md-2"})
            <img id="qr-Imagedown" alt=""/>
        </div>
        <div class="col-md-10">
            <button type="button" id="resetButton" class="btn btn-default btn-lg" data-clipboard-target="#foo">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Reset
            </button>
        </div>

    </div>

    <div id="messageBox">
    </div>
</div>