<!DOCTYPE html>
<html>
@Html.Partial("Head")
<body>

    @Html.Partial("Header")


    <div class="container body-content">
        @RenderBody()

      
        @*@Html.Partial("Footer")*@
    </div>
    
    @RenderSection("scripts", required: false)
  </body>
</html>