<!DOCTYPE html>
<html>
@Html.Partial("Head")
<body>

    @Html.Partial("Header")

    @RenderBody()

    <div class="container body-content">
        @Html.Partial("Footer")
    </div>
</body>
</html>