  <!-- Footer -->
<footer>
    <div class="row row-centered">
        <div class="col-md-4 col-sm-6 col-xs-12 col-centered">

                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; LightFeeD 2016. All Rights Reserved</p>
                </div>
            </div>
</footer>
