@model IList<Device>

@{
    ViewBag.Title = "My Devices";
}

<div class="container">
    <div class="row">
        </br></br>
        <div class="col-xs-12 classforborder">
            <h4>List of your registered devices</h4>
            <hr>
                <div class="panel-body">                 
                     <div class="list-group">
                         @foreach (var item in Model)
                         {
                          @Html.ActionLink(item.Name +": "+ item.SerialNumber , "Details", new { id = item.DeviceId },new { @class = "list-group-item" })
                         }                            
                </div>          
            </div>
        </div>
   </div>
</div>

