@model IList<Device>

@{
    ViewBag.Title = "My Devices";
}

<h2>My Devices</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Serial Number
            </th>
            <th>
                Device Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.SerialNumber, "Details", new { id = item.DeviceId })
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>