@model IList<RedAlert.API.Models.Device>

@{
    ViewBag.Title = "Device List";
}

<h2>Devices</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Serial Number
            </th>
            <th>
                Sender Key
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.SerialNumber
                </td>
                <td>
                    @item.SenderKey
                </td>
            </tr>
        }
    </tbody>
</table>