
@{
    ViewBag.Title = "MoodSimple";
}

<h2>MoodSimple</h2>

<script type="text/javascript" src="~/Scripts/jquery.tinycolorpicker.min.js"></script>
<style>
    /* COLORPICKER 1 EXAMPLE */
    #colorPicker {
        width: 30px;
        height: 30px;
        position: relative;
        clear: both;
        margin: 80px auto 20px;
    }

        #colorPicker .track {
            background: #EFEFEF url(/content/img/text-color.png) no-repeat 50% 50%;
            height: 150px;
            width: 150px;
            padding: 10px;
            position: absolute;
            cursor: crosshair;
            float: left;
            left: -71px;
            top: -71px;
            display: none;
            border: 1px solid #ccc;
            z-index: 10;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            border-radius: 150px;
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
            box-sizing: initial;
        }

        #colorPicker .color {
            width: 0px;
            height: 0px;
            padding: 1px;
            border: 1px solid #ccc;
            display: block;
            position: relative;
            z-index: 11;
            background-color: #EFEFEF;
            -webkit-border-radius: 27px;
            -moz-border-radius: 27px;
            border-radius: 27px;
            cursor: pointer;
        }

        #colorPicker .colorInner {
            width: 25px;
            height: 25px;
            -webkit-border-radius: 27px;
            -moz-border-radius: 27px;
            border-radius: 27px;
        }

        #colorPicker .dropdown {
            list-style: none;
            display: none;
            width: 27px;
            position: absolute;
            top: 28px;
            border: 1px solid #ccc;
            left: 0;
            z-index: 1000;
        }

            #colorPicker .dropdown li {
                height: 25px;
                cursor: pointer;
            }
</style>

<div id="colorPicker">
    <a class="color"><div class="colorInner"></div></a>
    <div class="track"></div>
    <ul class="dropdown"><li></li></ul>
    <input type="hidden" class="colorInput" />
</div>

<script>
    $(function () {

        //var $picker = document.getElementById("colorPicker");
        //   picker = tinycolorpicker($picker)
        $("#colorPicker").tinycolorpicker();
    });
</script>