
@{
    ViewBag.Title = "What's your mood";
}
<link rel="stylesheet" media="screen" type="text/css" href="~/Content/colorpicker.css" />
<script type="text/javascript" src="~/Scripts/colorpicker.js"></script>


</script>

<div class="content-section-a">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-md-offset-2">
                    <div class="panel panel-default  device-panel">
                      
                        <div class="panel-heading">
                            <h3 class="panel-title">Click on the image </h3>
                        </div>
                        <div class="panel-body">

                            <script>

                                $(document).ready(function () {
                                    $('#devicePng').ColorPicker({
                                        color: '#0000ff',
                                        onShow: function (colpkr) {
                                            $(colpkr).fadeIn(500);
                                            return false;
                                        },
                                        onHide: function (colpkr) {
                                            $(colpkr).fadeOut(500);
                                            return false;
                                        },
                                        onChange: function (hsb, hex, rgb) {
                                            $('#devicePng').css('backgroundColor', '#' + hex);
                                        }
                                    });

                                    $("#sendMessageButton").click(function () {
                                        var senderKey = localStorage.getItem("senderKey");                                                                             
                                        var color = $('.colorpicker_hex input').val();                                                                                
                                        $.get("http://redalertxfd.azurewebsites.net/api/message?senderkey=" + senderKey + "&color=" + color);
                                        });
                                   
                                });
                            </script>

                            <img class="img-responsive" id="devicePng" src="~/Content/img/devicepsd.png" alt="">
                            <hr>
                            <button type="button" id ="sendMessageButton"  class="btn btn-default btn-lg" data-clipboard-action="copy" data-clipboard-target="#foo">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send to Device
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

