
@{
    ViewBag.Title = "Email missing error";
}

<br />
<div class="row row-centered">
    <div class="col-md-10 col-sm-6 col-xs-12 col-centered">
        <div class="panel-body">
            <h1>You External Login account didn't provide an Email, Please log another account in.</h1>

        </div>
    </div>
</div>