@model RedAlert.API.Models.LoginViewModel


<div class="container">
   
    <div class="row">
        </br></br>
        <div class="col-xs-12 classforborder">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>


</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
