@using RedAlert.API.Models;
@using Microsoft.AspNet.Identity;

<p class="text-success">@ViewBag.StatusMessage</p>
<h3>Registered Logins</h3>
<hr />
<div class="row row-centered">
    <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
        <div class="panel-body">
            <section id="externalLogins">
                @Html.Action("RemoveAccountList")
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>
